<div class="span6 offset3 boxy text center">

	<h1 class= "h1-custom">
		Add a Database
	</h1>

	<br/>

	<h2 class="h2-custom">

		<%= simple_form_for @pic do |f|%>
			<%= f.input :lesson, :label => 'Your Latest Lesson', :placeholder => '1, 2, etc.' %>
			<%= f.input :image %>
			<%= f.input :emotion, :label => 'How do you feel?', :placeholder => "Sad, lonely, etc." %> 
			<%= f.input :learned, :label => 'What did you learn?', :placeholder => "Rails, HTLML5, Github, etc.." %>

			<%= submit_tag 'Save', :class => 'btn btn-warning btn-large' %>

		<% end %>
	</h2>
<div>